
<div class="grid-cell">
  <div class="tzr-th">
    {{#link-to 'article' article.id}}
    <img src={{article.image}} alt={{article.type}} {{action 'imageHide'}}>
    {{/link-to}}
  </div>

  <h4>{{article.title}}</h4>

  <div class="tease_th">
    <span class="tz_l">{{article.author}}</span>
    <span class="tz_r">{{moment-from-now article.posted}}</span>
  </div>
</div>
