
<div class="grid-cell">
  <div class="tzr-th">
    <img src={{article.image}} alt={{article.type}} {{action 'imageHide'}}>
  </div>

  <h4>{{article.title}} {{#link-to article.url}}...{{/link-to}}</h4>

  <div class="tease_th">
    <span class="tz_l">{{article.author}}</span>
    <span class="tz_r">{{article.posted}}</span>
  </div>
</div>
