<div class="container">
  <form class="saveArticle form">
    <div class="form-group">
      {{input value=author class="w50" id="author" placeholder="Author"}}
    </div>

    <div class="form-group">
      {{input value=image class="w90" id="image" placeholder="image url"}}
    </div>

    <div class="form-group">
      {{input value=title class="w90" id="title" placeholder="Title"}}
    </div>

    <div class="form-group">
      {{textarea value=story class="w90" id="story" placeholder="Your post..."}}
    </div>

    <div class="form-group">
      {{input value=tags class="w90" id="tags" placeholder="tags, tags, tags"}}
    </div>

    <button {{action 'saveArticle'}}>Save!</button>
  </form>
</div>
