{{outlet}}
<div class="header jumbotron">
  <h1> Welcome to Busted </h1>
  <p>We hope you find your ex's mugshot.</p>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div name="hamburger" class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#menu-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{ link-to 'Home' 'index' class="navbar-brand" }}
    </div>
    <div class="collapse navbar-collapse" id="menu-collapse">
      <ul class="nav navbar-nav">
        <!-- {{#link-to 'contact'}}Contact Us{{/link-to}}
        {{#link-to 'about'}}About Us{{/link-to}} | -->
        <li>{{ link-to 'About' 'about' }}</li>
        <li>{{ link-to 'Contact' 'contact' }}</li>
      </ul>
    </div>
  </div>
</nav>



<div class="grid">
  {{#each model.article as |article|}}
    {{article-tile article=article destroyArticle="destroyArticle"}}
  {{/each}}
</div>

<!-- {{new-article saveArticle="saveArticle"}} -->
