{{ header-nav }}
<div class="container">
  {{outlet}}
</div>

<div class="grid">
  {{#each model.article as |article|}}
    {{article-tile article=article model="model"}}
  {{/each}}
</div>

<!-- {{#each model.comment as |comment|}}
  {{comment.commenter}}
  {{comment.comment_text}}
{{/each}} -->
